@font-face {
    font-family: 'GoodTimesRg-Regular';
    src:url('GoodTimesRg-Regular.ttf.woff') format('woff'),
    url('GoodTimesRg-Regular.ttf.svg#GoodTimesRg-Regular') format('svg'),
    url('GoodTimesRg-Regular.ttf.eot'),
    url('GoodTimesRg-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Roboto', sans-serif;
}
.logo img{  
    height: 60px;
    width: auto;
}

.loginbtn{
    font-size: 14px;
}
.loginbtn a{
    color: #413c3c;
    text-decoration: none;
}
.loginbtn a:after {
    display:block;
    content: '';
    border-bottom: 1.5px solid #160d0d;

    transform: scaleX(0);
    transition: transform 0.7s ease-in-out;
}
.loginbtn a:hover:after{
    transform: scaleX(1);
}

.buttonAdd{
    margin: 10px 10px;
    width: 100%;
    padding: 10px 1px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 250ms ease-in-out;
    border: 3px solid #a1daff;
    text-decoration: none;
    color: #000000;
}
.buttonAdd:hover{
    background-color: #3ca3e6;
    color: #FFFFFF;
}
    



.menuTop{
    font-size: 20px;
}
.menuTop a{
    color: #FFFFFF;
    text-decoration: none;
}
.menuTop a:after {
    display:block;
    content: '';
    border-bottom: 3px solid #FFFFFF;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}
.menuTop a:hover:after{
    transform: scaleX(1);
}
.menuTop .current_page_item a{
    text-shadow: 4px 4px 4px #000000;
}
.menuTop ul li{
    padding: 0 5px;
    margin: 0 3px;
}
.menuTop .menu-menu-1-container{
    height: 100%;
}
.menuTop .nav-link:hover{
    color: #FFFFFF;
}
.mainMenu .place{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login{
    background-color: #3ca3e6;
}
.mainMenu{
    background-color: #3ca3e6;
}

.siteTitle{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 3vh 0;
    text-align: center;
    padding: 35px 0;
    background-color: #3ca3e6;
    border: solid #a1daff 5px;
}
.siteSpliter{
    border-bottom: 5px solid #3ca3e6;
}
.slickProduct .slick-track{
    height: 355px;
}
.slickProduct{
    text-align: center;
    margin: 20px 0;
    height: auto;
    padding-bottom: 10px;
}
.slickProduct img{
    display: block;
    border: 3px solid #000000;
    margin: 5px auto;
    max-width: 350px;
}
.slickProduct p{
    font-size: 18px;
    font-weight: bold;
}
.slickProduct .buttonBlue{

}
.slickProduct .slick-prev:before, .slickProduct .slick-next:before{
    color: #a1daff;
}
.entryBody{
    margin: 25px 0;
    justify-content: center;
    max-width: 100%;
}
.card-title{
    font-weight: bold;
}
.sidebar p{
    text-align: start;
    font-size: 18px;
    margin: 5px 0;
    font-weight: bold;
}
input[type="radio"]{
    display: none;
}
.sidebar {
    position: relative;
}
.sidebar label{
    position: relative;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.sidebar label span{
    margin-left: 20px;
}
label::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
    transition: border-color 400ms ease-in;
}
label::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #a1daff;
    border-color: #a1daff;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(0);
    transition: transform 400ms ease-in;
}
input[type="radio"]:checked + label::before{
    border-color: #a1daff;
}
input[type="radio"]:checked + label::after{
    transform: translateY(-50%) scale(0.55);
}
.product .title_product{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 3vh 0;
    text-align: center;
    padding: 35px 0;
    background-color: #3ca3e6;
    border: solid #a1daff 5px;
}
.product .productsShowcase{
    display: none;
}
.product .productsShowcase.active{
    display: block;
}
.product .productsShowcase{
    margin: 10px 0;
}
.product .productsShowcase:hover img{
    transform: scale(1.1);
}
.product .productsShowcase img{
    width: 300px;
    height: auto;
    transition: all 500ms ease-in-out;
}
.product .imgShowcase{
    width: 300px;
    height: 225px;
    max-width: 300px;
    overflow: hidden;
    max-height: 225px;
    box-shadow: 5px 5px 8px #b4b4b4;
    margin: 0 auto 20px;
}
.product .productsShowcase h4{
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.product .productsShowcase .buttonBlue{
    display: block;
    width: min-content;
    margin: 0 auto;
}
.map{
    height: 50vh;
    width: 100%;
    min-height: 350px;
    max-height: 600px;
}
.map iframe{
    height: 50vh;
    width: 100%;
    min-height: 350px;
    max-height: 600px;
}
.howToContact .contactHeader{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 3vh 0;
    text-align: center;
    padding: 35px 0;
    background-color: #3ca3e6;
    border: solid #a1daff 5px;
}
.howToContact form input{
    width: 100%;
    padding: 5px 15px;
    border-radius: 5px;
    border: 3px solid #e5e5e5;
}
.howToContact form .formSubject, .howToContact form .formEmail, .howToContact form textarea{
    margin-top: 25px;
}
.howToContact form input:focus-visible, .howToContact form input:focus{
    border-color: #a1daff;
    outline: none;
}
.howToContact form span:focus-visible{
    outline: none;
}
.howToContact form textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 3px solid #e5e5e5;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: #a1daff #ffffff;
}

.howToContact form textarea::-webkit-scrollbar {
    width: 16px;
}
.howToContact form textarea::-webkit-scrollbar-track {
    background: #ffffff;
}
.howToContact form textarea::-webkit-scrollbar-thumb {
    background-color: #a1daff;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.howToContact form textarea:focus-visible, .howToContact form textarea:focus{
    border-color: #a1daff;
    outline: none;
}
.howToContact form .wpcf7-response-output{
    border-radius: 5px;
    border-color: #ffc733 !important;
}
.howToContact .toRight{
    display: flex;
    justify-content: end;
}
.howToContact p{
    margin: 0;
}
.howToContact .formSubmit{
    width: 150px;
    margin-bottom: 10px;
    padding: 10px 30px;
    background-color: #FFFFFF;
    border-color: #a1daff;
    transition: all 250ms ease-in-out;
}
.howToContact .formSubmit:hover{
    background-color: #3ca3e6;
    color: #FFFFFF;
}
.howToContact .contactData{
    color: #FFFFFF;
    background-color: #3ca3e6;
    padding: 25px;
    margin-bottom: 25px;
    border: solid #a1daff 5px;
    text-align: center;
}
.buttonBlue{
    margin: 10px 0px;
    width: 100%;
    padding: 10px 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    transition: all 250ms ease-in-out;
    border: 3px solid #a1daff;
    text-decoration: none;
    color: #000000;
}
.buttonBlue:hover{
    background-color: #3ca3e6;
    color: #FFFFFF;
}
.buttonClear{
    width: 100%;
    padding: 10px 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    transition: all 250ms ease-in-out;
    border: 3px solid #ff8080;
    margin-bottom: 10px;
}
.buttonClear:hover{
    background-color: #f44336;
    color: #FFFFFF;
}
.contactData .mainInformation{
    font-size: 18px;
}
.contactData .title{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 3px solid #a1daff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.contactData i{
    margin-right: 5px;
}
.productImage{
    margin: 40px 0 15px 0;
    max-width: 600px;
    width: 100%;
    border: 3px solid #000000;
}
.productTitle{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.productDescription{
    font-size: 16px;
    margin: 40px 0 20px 0;
    text-align: center;
}
.slickSlider{
    max-height: 400px;
    margin: 20px;
}
.slickSlider img{
    display: block;
    margin: 0 auto;
    max-height: 400px;
}
.slickSlider .slick-prev:before, .slickSlider .slick-next:before{
    color: #a1daff;
}
footer{
    color: #FFFFFF;
    background-color: #071e31;
    padding: 25px 0;
}
footer .name{
    padding-left: 35px;
}
footer .description{
    padding-left: 35px;
    font-size: 14px;
}
footer .name h2{
    font-family: 'GoodTimesRg-Regular';
}
footer .menuBottom{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .menuBottom a{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    width: auto;
}
footer .contact{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 35px;
}
footer .contact ul{
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
footer .contact ul li i{
    margin: 0 15px 0 0;
}
footer .menuBottom ul {
    padding-left: 0;
    list-style-type: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}
footer .menuBottom a:after{
    display: block;
    content: '';
    border-bottom: 3px solid #FFFFFF;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}
footer .menuBottom a:hover:after{
    transform: scaleX(1);
}

@media screen and (max-width: 1199px){
    .productImage{
        margin: 15px auto;
        max-width: 100%;
        width: 100%;
    }
    .howToContact .formSubmit{
        width: 100%;
    }
}

@media screen and (max-width: 991px){
    .mainMenu .menuTop .menu{
        text-align: center;
    }
    .mainMenu i{
        font-size: 44px;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 767px){
    footer .name{
        padding-left: 0;
    }
    footer .name h2{
        text-align: center;
    }
    footer .description{
        text-align: center;
        margin-bottom: 5px;
        padding-left: 0;
    }
    footer .contact{
        text-align: center;
        justify-content: center;
    }
}
